*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1{
	font-size: 6.5vw;
	color: blue;
}
h3{
	font-family: sans-serif;
	font-size: 1.3rem;
	font-weight: 700;
}
h4{
	font-size: 1.1rem;
	font-family: monospace;
	font-weight: 700;
	word-spacing: 0.4vw;
}
h6{
	font-size:0.9rem;
	font-weight: 700;
	color: white;
}
p{
	font-size: 1rem;
	font-family: fantasy;
	color: blueviolet;
}
button{
	background: #6caa7f;
	border-style: none;
	padding: 0.7rem-1.3rem;
	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: 1px;
	color: #fff;
	font-family: cursive;
}
hr{
	background: #27ae60;
	color: #27ae60;
	height: 0.3rem;
}
body{
	font-family: sans-serif;
}

header .intro {
	position: relative;

}

header .intro .head{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

header .intro .head h1{

	font-family: fantasy;
	color: #000;
}

header .intro .head h6{

	font-family: monospace;
	color: #27ae60;
	font-weight: bolder;
	letter-spacing: 0.3rem;

}

header .navbar .navbar-nav .nav-link::after{
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background: #2ecc71;
	transition: width 0.3s;
}

header .navbar .navbar-nav .nav-link:hover::after{
	
	width: 60%;
	height: 2px;
	background: #2ecc71;
	border-bottom: 2px solid #27ae60;
}

 .featured .row .one{
 	height: 300px;
 }

 .featured .row .one img{
 	height: 100%;
 	width: 100%;
 	background-size: cover;
 	box-sizing: border-box;
 	object-fit: cover;
 }

 .sub{
 	background: #defadb;
 	height:200px;
 }
 .sub .row .subs input{
 	outline: none;
 	border-style: 1px solid #6caa7f;
 	text-align: center;
 }

 .subs button{
 	height: 43px;
 	padding: 4px;
 }
 